<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>instabone</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/instabone.css" />
	</head>
	<body><a id="top" name="top"></a>
		<!-- wrapper -->
		<div class="wrapper">
			<!-- main -->
			<div id="main" class="main">
				<!-- main-header -->
				<header class="main-header">
					<h1>Instabone</h1>
					<h2>A BackboneJS Single Page Application interacting with Instagram's API</h2>
				</header>
				<!-- /main-header -->
				<!-- main-nav -->
				<nav id="main-nav" class="main-nav"></nav>
				<!-- /main-nav -->
				<!-- main-content -->
				<section id="main-content" class="main-content"></section>
				<!-- /main-content -->
				<!-- main-footer -->
				<footer class="main-footer">
					<p>Instabone by Antoine Bisch ©</p>
				</footer>
				<!-- /main-footer -->
			</div>
			<!-- /main -->
		</div>
		<!-- /wrapper -->

		<!-- templates -->
		<!-- template-main-nav -->
		<script type="text/template" id="template-main-nav">
			<ul class="main-nav-list">
				<li class="main-nav-item"><a class="link-button" href="#">Home</a></li>
				<li class="main-nav-item"><a class="link-button" href="#feed">Feed</a></li>
			</ul>
		</script>
		<!-- /template-main-nav -->

		<!-- template-index-page -->
		<script type="text/template" id="template-index-page">
			<h1 class="main-title">Welcome to instabone!</h1>
			<p>View this project on <a href="https://github.com/jahDsign/instabone">Github</a></p>
			<p><a class="link-button" href="#feed">View Feed</a></p>
		</script>
		<!-- /template-index-page -->

		<!-- template-insta-feed -->
		<script type="text/template" id="template-insta-feed">
			<h1>Burberry's Instagram feed</h1>
			<div class="insta-feed">
				<ul id="insta-feed-list" class="insta-feed-list"></ul>
				<div class="insta-feed-link-container">
					<button id="insta-feed-load-more" class="insta-feed-link link-button" type="button">Load More</button>
				</div>
				<p class="insta-feed-link-container"><a class="link-to-top insta-feed-link link-button" href="#top">Top of page</a></p>
			</div>
		</script>
		<!-- /template-insta-feed -->

		<!-- template-insta-feed-item -->
		<script type="text/template" id="template-insta-feed-item">
			<li class="insta-feed-item">
				<a class="insta-feed-link" href="<%= link %>" target="_blank">
					<img class="insta-feed-img js-loading" src="<%= imgUrl %>" />
					<p class="insta-feed-caption-container">
					<span class="insta-feed-text insta-feed-caption"><%= text %></span>
					<span class="insta-feed-from insta-feed-caption"><%= from %></span>
					</p>
				</a>
			</li>
		</script>
		<!-- /template-insta-feed-item -->
		<!-- /templates -->

		<!-- scripts -->
		<script src="js/vendor/jquery-1.11.2.min.js"></script>
		<script src="js/vendor/underscore-min.js"></script>
		<script src="js/vendor/backbone-min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/utility/instabone.js"></script>
		<script src="js/models/instabone.js"></script>
		<script src="js/collections/instabone.js"></script>
		<script src="js/views/instabone.js"></script>
		<script>
			//initialize app
			$(window).on('load', function() {
				app.init();
			});
		</script>
		<!-- /scripts -->
	</body>
</html>